@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border {
    border: 1px solid #F81DFB;
}

.nft-1 {
    background: linear-gradient(160.61deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 101.7%);
    backdrop-filter: blur(17.915px);
    border-width: 2px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
}

.paragraph {
    color: rgba(255, 255, 255, 0.637);
}